.html,
body {
  height: 100%;
  background: #cac7c7;
}

.html ul,
body ul {
  list-style-type: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper .container {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.head {
  background: #3b3434;
}

.head .header {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .header .logo__link {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fd0000;
}

.head .header .menu {
  width: 60%;
}

.head .header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.head .header .menu .menu__list .menu__item {
  width: 20%;
  height: 15px;
  background: #fff;
  border-radius: 5px;
}

.head .header .menu .menu__list .menu__item .menu__link {
  display: block;
  width: 100%;
  height: 100%;
}

.section-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-one .section-tree-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 600px) {
  .section-one .section-tree-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-one .section-tree-row .section-one__item {
  padding: 2%;
  background: dimgray;
  margin: 2% 2% 0 0;
}

.section-one .section-tree-row .section-one__item:last-child {
  margin-right: 0;
}

.section-one .section-tree-row .section-one__item .item__img {
  display: block;
  height: 90px;
  background: white;
}

@media (max-width: 600px) {
  .section-one .section-tree-row .section-one__item {
    margin-right: 0;
  }
}

.section-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-two .section-two-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
}

@media (max-width: 400px) {
  .section-two .section-two-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-two .section-two-row .section-two__item {
  margin: 2% 2% 0 0;
  padding: 2%;
  background: dimgray;
}

.section-two .section-two-row .section-two__item:last-child {
  margin-right: 0;
}

.section-two .section-two-row .section-two__item .item__img {
  display: block;
  height: 90px;
  background: white;
}

@media (max-width: 600px) {
  .section-two .section-two-row .section-two__item {
    margin-right: 0;
  }
}

.footer {
  background: #3b3434;
}

.footer .basement {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .basement .footer__menu {
  width: 100%;
}

.footer .basement .footer__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.footer .basement .footer__menu .menu__list .menu__item {
  width: 20%;
  height: 15px;
  background: #fff;
  border-radius: 5px;
}

.footer .basement .footer__menu .menu__list .menu__item .menu__link {
  display: block;
  width: 100%;
  height: 100%;
}
