.html,
body {
    height: 100%;
    background: rgb(202, 199, 199);
    ul {
        list-style-type: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .container {
        max-width: 1024px;
        margin: 0 auto;
        height: 100%;
        padding: 0 15px;
    }
}
.head {
    background: rgb(59, 52, 52);
    & .header {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .logo__link {
            display: block;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: rgb(253, 0, 0);
        }
        .menu {
            width: 60%;
            .menu__list {
                display: flex;
                justify-content: space-between;
                padding-left: 0;
                .menu__item {
                    width: 20%;
                    height: 15px;
                    background: #fff;
                    border-radius: 5px;
                    .menu__link {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.section-one {
    flex: 1;
    .section-tree-row {
        display: flex;
        flex: 0 1 33.333%;
        @media (max-width: 600px) {
            flex-wrap: wrap;
        }
        .section-one__item {
            padding: 2%;
            background: rgb(105, 105, 105);
            margin: 2% 2% 0 0;
            &:last-child {
                margin-right: 0;
            }
            .item__img {
                display: block;
                height: 90px;
                background: rgb(255, 255, 255);
            }
            @media (max-width: 600px) {
                margin-right: 0;
            }
        }
    }
}

.section-two {
    flex: 1;
    & .section-two-row {
        display: flex;
        margin-bottom: 2%;
        @media (max-width: 400px) {
            flex-wrap: wrap;
        }
        .section-two__item {
            margin: 2% 2% 0 0;
            padding: 2%;
            background: rgb(105, 105, 105);
            &:last-child {
                margin-right: 0;
            }
            .item__img {
                display: block;
                height: 90px;
                background: rgb(255, 255, 255);
            }
            @media (max-width: 600px) {
                margin-right: 0;
            }
        }
    }
}

.footer {
    background: rgb(59, 52, 52);
    & .basement {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__menu {
            width: 100%;
            .menu__list {
                display: flex;
                justify-content: space-between;
                padding-left: 0;
                .menu__item {
                    width: 20%;
                    height: 15px;
                    background: #fff;
                    border-radius: 5px;
                    .menu__link {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
